html,
body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

* {
  font-size: 14px;
  line-height: 1.5em;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

#app {
  display: none;
}

.intro,
.show {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-bottom: 0.5px solid #ddd;
}

.slogan {
  padding: 10px 0;
  margin-left: 15px;
  border-bottom: 0.5px solid #ddd;
}

@keyframes slogan {
  0% {
    content: '_';
  }
  15% {
    content: '寻_';
  }
  30% {
    content: '寻找_';
  }
  45% {
    content: '寻找迷_';
  }
  60% {
    content: '寻找迷失_';
  }
  75% {
    content: '寻找迷失的_';
  }
  90% {
    content: '寻找迷失的你_';
  }
}

@-webkit-keyframes slogan {
  0% {
    content: '_';
  }
  15% {
    content: '寻_';
  }
  30% {
    content: '寻找_';
  }
  45% {
    content: '寻找迷_';
  }
  60% {
    content: '寻找迷失_';
  }
  75% {
    content: '寻找迷失的_';
  }
  90% {
    content: '寻找迷失的你_';
  }
}

.slogan::before {
  content: '寻找迷失的你_';
  animation-name: slogan;
  -webkit-animation-name: slogan;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

.cell {
  padding: 10px 15px 10px 0;
  margin-left: 15px;
  text-align: left;
  color: #555;
  border-bottom: 0.5px solid #ddd;
}

button {
  -webkit-appearance: none;
  display: block;
  border: 0 none;
  padding: 10px 0;
  margin-left: 15px;
  text-align: left;
  cursor: pointer;
  color: #08f;
  transition: 0.2s;
}

button:active {
  margin-left: 0;
  padding-left: 15px;
  background: #f0f0f0;
}

.title-bar {
  padding: 30px 15px 5px;
  border-bottom: 0.5px solid #ddd;
  font-size: 26px;
  background: #f3f3f3;
  position: relative;
  z-index: 2;
}

.friend {
  border-bottom: 0.5px solid #ddd;
  padding: 10px 20px 10px 0;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: 0.2s;
  word-break: break-all;
  background: #fff;
  transition: .2s;
}

.friend:active {
  margin-left: 0;
  padding-left: 15px;
  background: #f0f0f0;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #ccc;
}

.profile {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  position: relative;
}

.line-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.line-2 {
  margin-top: 29px;
}

.name {
  font-weight: bold;
  margin-right: 5px;
  color: #333;
  flex: 0 1 auto;
  min-width: 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.id {
  font-size: 12px;
  color: #888;
  margin-right: 5px;
  flex: 1 1 auto;
  min-width: 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.forgotten {
  flex: 0 0 auto;
  font-size: 13px;
}

.bio {
  font-size: 13px;
  color: #555;
  text-align: justify;
}

.foot {
  margin-top: 20px;
  text-align: center;
}

.credit {
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
  text-align: center;
}
